<?xml version="1.0" encoding="UTF-8"?> 
<Configuration>
  <Properties>
    <Property name="pattern">%d %level{length=5} [%t] %C{2} (%F:%L) - %m%n</Property>
  </Properties> 
  <Appenders>
    <File name="file" fileName="C:/temp/hw3q1.log" append="true"> 
      <PatternLayout pattern="${pattern}"/> 
    </File> 
    <Console name="STDOUT" target="SYSTEM_OUT"> 
      <PatternLayout pattern="${pattern}"/> 
    </Console> 
  </Appenders> 
  <Loggers> 
    <Root level="ALL"> 
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="file"/>
    </Root> 
  </Loggers> 
</Configuration>