
/* ::::: https://www.w3.org/Submission/sioc-spec/img/xmlns-style.css ::::: */

dt { font-weight: bold; }
.class-table { margin: 1px; padding: 3px; }
.tableheading { background: rgb(204, 204, 255) none repeat scroll 0% 0%; font-weight: bold; font-size: 120%; }
body { padding: 2em 1em 2em 70px; margin: 0px; font-family: sans-serif; color: black; background: white none no-repeat fixed left top; }
:link { color: rgb(0, 0, 204); background: transparent none repeat scroll 0% 0%; }
:visited { color: rgb(102, 0, 153); background: transparent none repeat scroll 0% 0%; }
a:active { color: rgb(204, 0, 0); background: transparent none repeat scroll 0% 0%; }
a:link img, a:visited img { border-style: none; }
a img { color: white; }
@media all {
  a img { color: inherit; }
}
th, td { font-family: sans-serif; }
h1, h2, h3, h4, h5, h6 { text-align: left; }
h1, h2, h3, h4, h5 { color: rgb(0, 0, 0); background: white none repeat scroll 0% 0%; }
h1 { font: 170% sans-serif; }
h2 { font: 140% sans-serif; }
h3 { font: 120% sans-serif; }
h4 { font: bold 100% sans-serif; }
h5 { font: italic 100% sans-serif; }
h6 { font: small-caps 100% sans-serif; }
.hide { display: none; }
div.head { margin-bottom: 1em; }
div.head h1 { margin-top: 2em; clear: both; }
div.head table { margin-left: 2em; margin-top: 2em; }
p.copyright { font-size: small; }
p.copyright small { font-size: small; }
@media screen {
  a[href]:hover { background: rgb(255, 255, 170) none repeat scroll 0% 0%; }
}
pre { margin-left: 2em; }
dt, dd { margin-top: 0px; margin-bottom: 0px; }
dt { font-weight: bold; }
pre, code { font-family: monospace; }
ul.toc { list-style: outside none none; }
@media aural {
  h1, h2, h3 {  }
  .hide {  }
  p.copyright {  }
  dt {  }
  pre {  }
}
.vocablogo { background-image: url('foafvocab-logo.jpg'); }

/* ::::: https://www.w3.org/Submission/sioc-spec/img/style.css ::::: */

div.rdf-proplist { background-color: rgb(221, 221, 255); border: 1px solid black; float: left; width: 26%; margin: 0.3em 1%; }
img { border: 0px none; }
.example { border: 1px dotted black; background-color: rgb(217, 227, 233); padding: 5px; }
code {  }
.editorial { border: 2px solid green; padding: 5px; }
div.rdf-classlist { background-color: rgb(238, 238, 255); border: 1px solid black; float: left; margin: 0.3em 1%; width: 26%; }
div.rdf-proplist ul {  }
div.rdf-proplist h3 { background-color: rgb(187, 187, 255); font-size: 100%; margin: 0px; padding: 2px; }
div.rdf-classlist h3 { background-color: rgb(204, 204, 255); font-size: 100%; margin: 0px; padding: 2px; }
specterm.h3 { background-color: rgb(187, 187, 255); font-size: 100%; margin: 0px; padding: 2px; }
.rel-table { border: 1px none; }
div.specterm { padding: 20px; border-style: solid; border-color: black; border-width: 1px 0px 0px; }

/* ::::: http://www.w3.org/StyleSheets/TR/W3C-Member-SUBM ::::: */

body { padding: 2em 1em 2em 70px; margin: 0px; font-family: sans-serif; color: black; background: white none no-repeat fixed left top; }
:link { color: rgb(0, 0, 204); background: transparent none repeat scroll 0% 0%; }
:visited { color: rgb(102, 0, 153); background: transparent none repeat scroll 0% 0%; }
a:active { color: rgb(204, 0, 0); background: transparent none repeat scroll 0% 0%; }
a:link img, a:visited img { border-style: none; }
a img { color: white; }
@media all {
  a img { color: inherit; }
}
th, td { font-family: sans-serif; }
h1, h2, h3, h4, h5, h6 { text-align: left; }
h1, h2, h3 { color: rgb(0, 90, 156); background: white none repeat scroll 0% 0%; }
h1 { font: 170% sans-serif; }
h2 { font: 140% sans-serif; }
h3 { font: 120% sans-serif; }
h4 { font: bold 100% sans-serif; }
h5 { font: italic 100% sans-serif; }
h6 { font: small-caps 100% sans-serif; }
.hide { display: none; }
div.head { margin-bottom: 1em; }
div.head h1 { margin-top: 2em; clear: both; }
div.head table { margin-left: 2em; margin-top: 2em; }
p.copyright { font-size: small; }
p.copyright small { font-size: small; }
@media screen {
  a[href]:hover { background: rgb(255, 255, 170) none repeat scroll 0% 0%; }
}
pre { margin-left: 2em; }
dt, dd { margin-top: 0px; margin-bottom: 0px; }
dt { font-weight: bold; }
ul.toc, ol.toc { list-style: outside none none; }
@media speech {
  h1, h2, h3 {  }
  .hide {  }
  p.copyright {  }
  dt {  }
}
h1, h2, h3, h4, h5, h6 { color: rgb(0, 0, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
